{% extends 'base.html' %}
{% block title %}
    무신사 재고관리 시스템 상세정보
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text"> {{ user.email }}</p>
                        부서:
                        <p class="card-text" style="color: grey"> {{ user.department }}</p>

                    </div>
                </div>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-9">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-1">
                    <div class="col-md-16">
                        <div class="card" style="">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
                                        <div>
                                            <h5 class="mt-0" style="float: left">신규 아이템 작성</h5>
                                            <a href="/" class="btn btn-outline-warning btn-sm" style="float: right">메인으로</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="wrap" style="width: 30rem">
                                    <form class="form-area" method="post" action="/erp/new">
                                        {% csrf_token %}
                                        <div class="form-group mt-2 mb-2">
                                            <label for="goods_name">제품 이름</label>
                                            <input type="text" class="form-control" id="goods_name" name="goods_name">
                                        </div>
                                        <span>카테고리</span>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
                                            <select class="form-select" id="goods_category" name="goods_category">
                                                <option selected>--카테고리--</option>
                                                <option value="후드">후드</option>
                                                <option value="바지">바지</option>
                                                <option value="양말">양말</option>
                                                <option value="원피스">원피스</option>
                                                <option value="반팔티">반팔티</option>
                                                <option value="모자">모자</option>
                                            </select>
                                        </div>
                                        <span>색상</span>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">색상</label>
                                            <select class="form-select" id="goods_color" name="goods_color">
                                                <option selected>--색상--</option>
                                                <option value="Black">Black</option>
                                                <option value="Gray">Gray</option>
                                                <option value="Red">Red</option>
                                                <option value="Blue">Blue</option>
                                                <option value="White">White</option>
                                                <option value="Orange">Orange</option>
                                            </select>
                                        </div>
                                        <span>사이즈</span>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text" for="inputGroupSelect01">사이즈</label>
                                            <select class="form-select" id="goods_size" name="goods_size">
                                                <option selected>--사이즈 선택--</option>
                                                <option value="S">Small</option>
                                                <option value="M">Medium</option>
                                                <option value="L">Large</option>
                                                <option value="F">Free</option>
                                            </select>
                                        </div>
                                        <div class="form-group mt-2 mb-2">
                                            <label for="goods_image">이미지 주소</label>
                                            <input type="url" class="form-control" id="goods_image" name="goods_image">
                                        </div>
                                        <div class="form-group mt-2 mb-2">
                                            <label for="stock">최초 재고</label>
                                            <input type="text" class="form-control" id="stock" name="stock">
                                        </div>
                                        {% if error %}
                                            <div class="alert alert-danger" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endif %}
                                        <hr>
                                        <div style="float: right">
                                            <button type="submit" class="btn btn-primary">작성</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}